body{
    background-color: #000000;
}

div{
    border: groove;
    background: #777777;
    line-height: 1.6;
}
div h1{
    margin: auto;
    color: #000000;
}

div h2{
    background-color: #555555;
    padding-left: 3%;
}

div.header{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
}

div.main{
    margin-top: 2%;
    margin-left: 18%;
    margin-right: 18%;
    width: auto;
    height: auto;
    z-index: -1;
}
div.navi {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    top: 1%;
}
div.navi a {
	font-size: 25px;
	text-decoration: none;
    transition: ease-out 0.3s;
}
div.navi a:hover {
	opacity: 1.0;
	background-color: #555555;
    text-decoration: underline;
    padding-left: 5px;
    padding-right: 5px;
}
div.pics{
    border-color: #000000;
}
div.tips{
    border-color: #000000;
}

hr{
    border: double;
    border-color: #000000;
    width: 90%;
}

img{
    height: auto;
    width: 95%;
    transition: ease-out 0.5s;
}

ul{
    color: #000000;
}

p{
    padding: 5px;
}

#aPics{
    margin-left: 10%;
    margin-right: 10%;
}

#aTips{
    margin-left: 10%;
    margin-right: 10%;
}

#col{
    font-size: 35px;
}

.divide{
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 0px #000000, 0px 1px #000000, 0px -1px #000000, 1px 1px #000000, 1px -1px #000000;
    text-align: center;
}

#pic li{
    list-style: none;
}