
@font-face{
    font-family: newsfont;
    src:url(fonts/Cardo//Cardo-Regular.ttf);
}

@font-face{
    font-family: newsfontitalic;
    src:url(fonts/Cardo//Cardo-Italic.ttf);
}

@font-face{
    font-family: navigation;
    src:url(fonts/Cormorant/Cormorant-Regular.ttf);
}

@font-face{
    font-family: h3;
    src:url(fonts/SS/SourceSerifPro-Regular.ttf);
}

@font-face{
    font-family: textp;
    src:url(fonts/Anonymous/AnonymousPro-Regular.ttf);
}

@font-face{
    font-family: header;
    src:url(fonts/Inconsolata/Inconsolata-Regular.ttf);
}

@font-face{
    font-family: media;
    src:url(fonts/Cormorant/Cormorant-Light.ttf);
}

@font-face{
    font-family: about;
    src:url(fonts/Anonymous/AnonymousPro-Italic.ttf);
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: #D1D0CE;
}

#navigation{
    position: static;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 50;
    background-color: #736F6E;
    opacity: 0.7;
}

    #navigation ul{
        list-style-type: none;
        display: inline-block;
        float: right;
    }

    #navigation a{
        text-decoration: none;
        color: #B6B6B4;
        font-size: 20px;
        padding: 10px 15px;
        font-family: navigation;
    }

    #navigation a:hover{
        text-decoration: underline;
        color: white;
    }

    #navigation img{
        vertical-align: middle;
    }

#home{
    height: 100vh;
    background: url("../images/home.png") center center no-repeat scroll;
}

#layer1{
    width: 800px;
    margin: 100px auto 0;
    background-color: #E5E4E2;
    padding: 10px 20px;
    border-radius: 4px 4px 0 0;
}

#layer2{
    width: 800px;
    margin: 0 auto;
    background-color: #E5E4E2;
    padding: 10px 20px;
    border-radius: 0 0 4px 4px;
}

.container h3{
    line-height: 1.5em;
    background-color: #6D7B8D;
    color: white;
    position: relative;
    width: 600px;
    padding: 5px 10px;
    font-family: newsfont;
    font-weight: bold;
}

.container h3:before {
      position: absolute;
      content: "";
      border-style: solid;
      border-width: 25px 15px 0 0;
      border-color:  #6D7B8D transparent transparent transparent;
      right: -15px;
      top: 0;
    }
.container h3:after {
      position: absolute;
      content: "";
      border-style: solid;
      border-width: 25px 0 0 15px;
      border-color: transparent transparent transparent #6D7B8D;
      right: -15px;
      bottom: 0;
    }

.container p{
    padding: 0 10px 0 15px;
    text-indent: 20px;
    font-family: newsfont;
}

.container img{
    display: none;
}

a{
    text-decoration: none;
    color: #646D7E;
}

.text p{
    margin: 0 auto;
    color: black;
    border: 2px dashed;
    width: 200px;
    text-align: center;
    font-family: textp;
}

.text p:hover{
    border: 2px solid;
}

#more h3{
    font-size: 20px;
    color: #2B3856;
    font-weight: bold;
    text-align: justify;
}

#more a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#more a:hover{
    color: #2B3856;
}

#more li{
    list-style-type: none;
}

h3{
    font-size: 20px;
    font-family: h3;
    text-align: center;
}

#cols{
    display: flex;
}
       
#cols div{  
    width: 33%;
}
    
#cols img{
    width: 300px;
    padding: 9px;
    transition: .5s ease;
    border-radius: 30px;
}

#cols img:hover{
    width: 330px;
}

.article-container{
  margin: 0 auto;
  height: 80vh;
  padding: 25px 50px 75px 50px;
}

.article-statement{
    font-size: 21px;
    font-family: newsfontitalic;
    text-align: center;
}

.article-main{
    font-size: 18px;
    font-family: h3;
    word-spacing: 5px;
    padding: 20px 10px 0 10px;
    text-indent: 25px;
    line-height: 1.6;
}

.wrap{
    background-color: #BCC6CC;
}

#approaches #layer1{
    margin: 0 auto;
}

#approaches h2{
    font-size: 25px;
    font-family: header;
    text-align: center;
}

#approaches .container img{
    display: block;
    border: 1px;
    border-radius: 3px;
    width: 200px;
    height: 200px;
    padding: 15px 15px 15px 15px;
    margin: 10px auto;
    border: 5px solid gray;
    /**DO NOT FORGET TO PUT BACKGROUND COLOR BEHIND IMAGE!!!!**/
}

#approaches .text p{
    width: 200px;
    border:2px solid;
}

#approaches .text p:hover{
    border:2px dashed;
}

#approaches #layer1 .container p{
   text-align: center;
}

#approaches #layer2 .container p{
   text-align: center;
}

#media{
    width: 100%;
    margin: 0 auto; 
    background-color: #D1D0CE;
}

#media #layer1{
    margin: 0 auto;
    background-color: #BCC6CC;
    height: 90vh;
}

#media h1{
    text-align: center;
    font-size: 25px;
    font-family: header;
}

#media h2{
   visibility: hidden;
}

#media img{
    display: static;
    width: 200px;
    height: 300px;
}

#media .container p{
    visibility: hidden;
}

#media .article p{
    visibility: visible;
    text-align: center;
    border: 3px solid gray;
    width: 400px;
    margin: 0 auto;
    font-family: media;
    font-size: 20px;
    padding: 10px 15px;
}

#media a:hover{
    color: white;
}

#about #layer1{
    margin: 0 auto;
}

#about h2{
    text-align: center;
    font-size: 25px;
    font-family: header;
}

#about .image{
    display: block;
    width: 190px;
    height: 190px;
    margin: 0 auto;
    border-radius: 120px;
    float: right;
}

#about .article p{
    width: 300px;
    padding: 10px 15px 20px 15px;
}

#about .article p:hover{
    border: dashed;
}

#about h3{
    font-family: about;
    font-size: 20px;
}

footer{
    width: 100%;
    background-color: #736F6E;
    padding: 5px;
    text-align: center;
    font-family: navigation;
}