body{
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    background: #566d7e url("") center center no-repeat scroll;
    background-size:100% 100%;
    max-width:3000px;
    margin:0 auto 0 auto;
}

#navigation{
    position: static;
    overflow: hidden;
    width:100%;
    top: 0;
    height: auto;
    background-color: #566d7e;
    z-index: 5;
}

#navigation a{    
    float: left;
    display: inline-block;
    text-align: center;
    padding: 20px 50px 20px 50px;
    color: white;
    font-family: OratorStd;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

#navigation > img{
    float: left;
}

#navigation a:hover{
   color: #254117; 
}

ul {
    list-style-type: none;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/*DONT FORGET TO MAKE THE TEXT IN THE NAV BAR CENTER*/

#home{
    height:100vh;
    background:url("../images/home.png") center center no-repeat scroll;
    background-size:100% 100%;
    margin-top:0px;
}

#approaches{
    margin-right:0 auto 0 auto;
    padding-bottom:30px;
    width:100%;
    min-width:800px;
    height:120vh;
    background: #95b9c7;
}

#approaches .container > img{
    width: 290px;
    height: 290px;
}

#approaches p{
    padding:0;
    text-align:center;
    font-size: 20px;
}

#approaches h2{
    text-align: center;
    font-size: 50px;
    color: #2b547e;
    font-family: "Garamond";
}

#media{
    margin-right:0 auto 0 auto;
    padding-bottom:30px;
    width:100%;
    min-width:800px;
    height:90vh;
    background: #87afc7;
}

#media h1{
    text-align: center;
    font-size: 50px;
    color: #2b547e;
    font-family: "Garamond";
    flex: 0 0 100%;
}

#media h2{
    font-size: 30px;
    text-align: right;
}

#media .container > img {
    width: 300px;
    height: 300px;
}

#media #layer1{
    flex-wrap: wrap;
}

#media #layer1 .container p{
    font-size: 20px;
}

#overlay{
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4C787E;
}

#text{
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#about #layer1 {
    display: flex;
    flex-flow: row-nowrap; 
    justify-content: space-between;
    width:90%;
    //float:left;
    margin:0 auto;
    clear:none;
}

#about #layer2 {
    width:90%;
    //float:right;
    margin:0 auto;
    clear:none;
}

#approaches #layer1 {
    display: flex;
    flex-flow: row-nowrap; 
    justify-content: space-between;
    width:90%;
    //float:left;
    margin:0 auto;
    clear:none;
}

#approaches #layer2 {
    width:90%;
    //float:right;
    margin:0 auto;
    clear:none;
}

#media #layer1 {
    display: flex;
    flex-flow: row-nowrap; 
    justify-content: space-between;
    width:90%;
    //float:left;
    margin:0 auto;
    clear:none;
}

#media #layer2 {
    width:90%;
    //float:right;
    margin:0 auto;
    clear:none;
}

#about #layer1 .container{
    margin: 0 auto;
}

#about #layer2 .container{
    margin: 0 auto;
}

#approaches #layer1 .container{
    margin: 0 auto;
}

#approaches #layer2 .container{
    margin: 0 auto;
}

#approaches .container {
  position: relative;
  width: 290px;
  height:390px;
  //margin:0px 15px;
  //padding:2%;
}

#media .container {
  position: relative;
  width: 290px;
  height:390px;
  //margin:0px 15px;
  //padding:2%;
}

#about .container {
  position: relative;
  width: 290px;
  height:390px;
  //margin:0px 15px;
  //padding:2%;
}

#about .container > img{
    width: 300px;
    height: 300px;
}

#about .wrap{
     width: 100%;
     margin: 0;
     padding: 0;
}

#approaches .wrap{
     width: 100%;
     margin: 0;
     padding: 0;
}

#media .wrap{
     width: 100%;
     margin: 0;
     padding: 0;
}

#about .wrap p{
    font-family:;
    font-size: 20px;
    color: black;
    margin: 10px 0px 0px 0px;
    padding: 5% 0 0 0;
    text-align:center;
    margin-top:10px;
}

#approaches .wrap p{
    font-family:;
    font-size: 20px;
    color: black;
    margin: 10px 0px 0px 0px;
    padding: 5% 0 0 0;
    text-align:center;
    margin-top:10px;
}


#media .wrap p{
    font-family:;
    font-size: 20px;
    color: black;
    margin: 10px 0px 0px 0px;
    padding: 5% 0 0 0;
    text-align:center;
    margin-top:10px;
}


#approaches .overlay {
    background-color: #4c787e;
    height: 80%;
    width: 110%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
}

#about .overlay{
    background-color: #98afc7;
    height: 80%;
    width:  130%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
}

#about .container:hover .overlay {
  opacity: 1;
}

#media .container:hover .overlay {
  opacity: 1;
}

#approaches .container:hover .overlay {
  opacity: 1;
}

#about .text{
    top: 10%;
    margin: 0 15px;
    font-size: 9px;
    color: black;
    position: absolute;
}

#approaches .text{
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    position: absolute;
}

#media .text{
    color: black;
    position: absolute;
}

#approaches .text a{
    text-decoration: none;
    text-align: center;
}

#media .text a{
    text-decoration: none;
    text-align: center;
}

#about .article p{
    color: #151b54; 
    font-size: 20px;
    text-align: center;
}

#approaches .article p{
    color: #151b54; 
    font-size: 20px;
}

#media .article p{
    color: #151b54; 
    font-size: 20px;
}

#about{
    clear:both;
    height:120vh;
    background-color: #566d7e;
}

#about h2{
    text-align: center;
    color: #25383c;
    font-size: 50px;
    font-family: "Garamond"
}

#about > #layer2{
    display: flex;
    flex-flow: row-nowrap;
    justify-content: space-between;
}

#about #layer2 .text:first-child{
    top: -6%;
}

.article-container{
    width:100%;
    clear:both;
    max-width:2000px;
    margin-left:auto;
    margin-right:auto;
}

#one{
    background-size:cover;
    margin-top:0px;
    font-family: "Monotype Corsiva";
    font-size: 14px;
    color: black;
    word-spacing: 5px;
    line-height: 200%;
    height: 100vh;
}

#two{
    background-size:cover;
    margin-top:0px;
    font-family: "Monotype Corsiva";
    font-size: 14px;
    color: black;   
    word-spacing: 5px;
    line-height: 200%;
    height: 100vh;
}

#three{
    background-size:cover;
    margin-top:0px;
    font-family: "Monotype Corsiva";
    font-size: 14px;
    color: black;
    word-spacing: 5px;
    line-height: 200%;
    height: 100vh;
}

#four{
    background-size:cover;
    margin-top:0px;
    font-family: "Monotype Corsiva";
    font-size: 14px;
    color: black;
    word-spacing: 5px;
    line-height: 200%;
    height: 100vh; 
}

.article-statement{
    margin-left:30%;
    font-family:"Lucida Console",Monaco,monospace;
    font-size:15px;
    padding-left:10%;
    padding-right:10%;
    text-align:center;
}

.article-statement p{
    padding-top: 100px;
    font-weight: bold;
}

.article-main{
    margin-left:30%;
    font-family:"Courier New",Courier,monospace;
    font-size:15px;
    text-align:justify;
    padding-left:5%;
    padding-right:5%;
}

.article-main p{
    padding:10px;
    letter-spacing: 2px;
}

#cols{
    display: flex;
}
       
#cols div{  
    width: 33%;
}
    
#cols img{
    width: 95%;
    padding: 9px;
    transition: .3s ease;
    border-radius: 30px;
}

#about h3{
    font-size: 18px;
    text-align: center;
    font-family: "Courier New",Courier,monospace;
}

#more a{
    font-size: 16px;
    text-decoration: none;
    color: #2c3539;
}

#more a:hover{
    color: #5e7d7e;
}

#more h3{
    font-size: 18px;
    color: #2c3539;
    text-align: left;
}

h3{
    font-size: 18px;
    text-align: center;
    font-family: "Courier New",Courier,monospace;
}

.container {
    margin: 100px;
}

.container > img{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container p{
    font-size: 20px;
    font-family: "Garamond";
    text-align: center;
}

.text a{
    text-decoration: none;
    font-family:  "Courier New",Courier,monospace;
    text-align: center;
    font-weight: bold;
}

#footer {
  position: static;
  clear:both;
  background: #646d7e;
  color: white;
  padding: 5px 0 10px 0;
}

#footer p {
  font-size: 25px;
  text-align: center;
  color: black;
}