body{
    background-color: #b7b7b7;
    margin: 0px;
}

@font-face{
    font-family: Bookman;
    src: url(fonts/Bookman Old Style.ttf);
}

@font-face{
    font-family: OratorStd;
    src: url(fonts/OratorStd.otf);
}

@font-face{
    font-family: WalbaumReg;
    src: url(fonts/WalbaumReg.ttf);
}

@font-face{
    font-family: WalbaumBold;
    src: url(fonts/WalbaumBold.otf)
}

#navbar{
    position: static;
    overflow: hidden;
    width:100%;
    height: auto;
    padding: 20px 0px 10px 50px;
}

#design{
    overflow: hidden;
    float: left;
    padding: 10px 5px 0px 10px;
}

#logo{
    float: left;
    margin: 0px 0px 0px 0px;
}


#navbar a{    
    float: left;
    color: #C0C0C0;
    font-family: OratorSTD;
    text-decoration: none;
    font-size: 20px;
    text-transform: lowercase;
    transition-duration: 0.5S;
    margin: 20px 0px 0px 40px;
}

#navbar a:hover{
    color: #FFFFFF;
}
#navbar a:not(#Cleanliness):not(#NoiseManagement):not(#SmokePollution):not(#About){
    
}

#enviProtection{
    margin: 0 auto;
    text-align: center;
}

#enviHeader{
    margin: 0 auto;
    font-family: OratorStd;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    text-shadow: 5px 5px 5px #918f8f;
}

#enviHeader h1{
    display: none;
}

#header{
    background-image: url(../images/Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 980px;
    margin: -90px 0px 0px 0px;
}

#cleanlinessHeader{
    width: 100%;
    margin: 0 auto;
    background-color: black;
    box-shadow: 10px 10px 10px #918f8f;
    font-family: WalbaumReg;
    font-size: 35px;
    color: white;
    
}

#trash{
    margin: 0 auto;
    width: 97%;
    box-shadow: 10px 10px 10px #918f8f;
    border: 3px solid black;
}

#trashHeader{
    font-size: 20px;
    font-family: OratorStd;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
    border: 2px solid black;
}

#trashParagraph{
    font-family: WalbaumReg;
    font-size: 25px;
    padding: 0 10px 0 10px;
}

#trashIMG {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

#trashIMG .imgContainer{
    padding: 5pxl
}

#linis{
    margin: 0 auto;
    margin-top: 10px;
    width: 97%;
    box-shadow: 10px 10px 10px #918f8f;
    border: 3px solid black;
}

#linisHeader{
    font-size: 20px;
    font-family: OratorStd;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
    border: 2px solid black;
}

#linisParagraph{
    font-family: WalbaumReg;
    font-size: 25px;
    padding: 0 10px 0 10px;
}

/*
#linisIMG
*/


#noiseHeader{
    width: 98%;
    margin: 0 auto;
    background-color: black;
    box-shadow: 10px 10px 10px #918f8f;
    font-family: OratorStd;
    text-transform: uppercase;
    font-size: 35px;
    color: white;
}

#noiseParagraph{
    width: 92%;
    margin: 0 auto;
    box-shadow: 10px 10px 10px #918f8f;
    border: 4px solid black;
    font-family: WalbaumReg;
    font-size: 25px;
    padding: 0 10px 0 10px; 
}

#smokeHeader{
    width: 98%;
    margin: 0 auto;
    background-color: black;
    box-shadow: 10px 10px 10px #918f8f;
    font-family: OratorStd;
    text-transform: uppercase;
    font-size: 35px;
    color: white;
}

#smokeParagraph{
    width: 92%;
    margin: 0 auto;
    box-shadow: 10px 10px 10px #918f8f;
    border: 4px solid black;
    font-family: WalbaumReg;
    font-size: 25px;
    padding: 0 10px 0 10px; 
}

#speechHeader{
    width: 98%;
    margin: 0 auto;
    background-color: black;
    box-shadow: 10px 10px 10px #918f8f;
    font-family: OratorStd;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
}

#speechParagraph{
    width: 92%;
    margin: 0 auto;
    box-shadow: 10px 10px 10px #918f8f;
    border: 4px solid black;
    font-family: WalbaumReg;
    font-size: 20px;
    padding: 0 10px 0 10px;  
}

#bioContainer{
    margin-top: 15px;
    width: 98%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

#bioHead{
    margin: 0 auto;
    font-family: OratorStd;
    text-transform: uppercase;
    font-size: 30px;
    color: black;
}

.infoContainer{
    margin: 1vh;
    box-shadow: 10px 10px 10px #918f8f;
    background-color: ghostwhite;
    transition: 0.3s;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1vh;
}

.infoContainer .imgContainer{
    padding: 7px;
    display: inline;
}

.infoContainer .imgContainer img{
    
}

.infoContainer h3{
    font-size: 25px;
    font-family: OratorStd;
    color: black;
}

.infoContainer p{
    font-family: WalbaumReg;
    font-size: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

#footer{
    font-family: OratorStd;
    font-size: 20px;
}