body{
    background-color: #F0F0F0;
    margin: 0px;
}

@font-face{
    font-family: Bookman;
    src: url(fonts/BookmanOldStyle.ttf);
}

@font-face{
    font-family: OldEnglish;
    src: url(fonts/OldEnglish.ttf);
}

@font-face{
    font-family: OratorStd;
    src: url(fonts/OratorStd.otf);
}

@font-face{
    font-family: WalbaumReg;
    src: url(fonts/WalbaumReg.ttf);
}

@font-face{
    font-family: WalbaumBold;
    src: url(fonts/WalbaumBold.otf)
}

#navbar{
    position: static;
    overflow: hidden;
    width:100%;
    height: auto;
    padding: 10px 0px 10px 0px;
    background-color: #333333;
}

#design{
    overflow: hidden;
    float: left;
    padding: 10px 5px 0px 10px;
}

#logo{
    float: left;
    margin: 0px 0px 0px 20px;
}


#navbar a{    
    float: right;
    color: #C0C0C0;
    font-family: OratorSTD;
    text-decoration: none;
    font-size: 20px;
    text-transform: lowercase;
    transition-duration: 0.5S;
    margin: 20px 40px 0px 0px;
}

#navbar a:hover{
    color: #FFFFFF;
    font-size: 20.5px;
    text-shadow: 0px 5px 20px #202020;
}

#navbar a:not(#Cleanliness):not(#NoiseManagement):not(#SmokePollution):not(#About){
    
}

#enviProtection{
    text-align: center;
}

#enviHeader h1{
    display: none;
}

#header{
    background-image: url(../images/Professional-Header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #333333;
    width: auto;
    height: 688px;
    margin: 0 auto;
}

#cleanliness{
    background-color: #F0F0F0;
    width: 80%;
    padding: 0px 0px 0px 0px;
    margin: 0px auto 0px auto;
}

#cleanlinessHeader{
    width: 100%;
    color: #333333;
    margin: auto auto -45px auto;
    padding: 100px 0px 20px 0px;
    font-family: OldEnglish;
    font-size: 50px;
    letter-spacing: 2px;
}

#trash, #linis{
    margin: auto;
    width: 100%;
    padding: 20px 0px 200px 0px;
}

#trashHeader h3, #linisHeader h3{
    font-size: 22px;
    font-family: OratorSTD;
    color: #8CC63F;
    text-align: left;
    text-transform: lowercase;
    width: 80%;
    margin: auto;
    padding: 0px 0px 0px 0px;
}

#trashParagraph, #linisParagraph{
    font-family: WalbaumReg;
    font-size: 20px;
    text-align: justify;
    width: 80%;
    margin: -15px auto 10px auto;
    color: #505050;
}

#trashIMG, #linisIMG {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    width: 80%;
    margin: auto;
}

#trashIMG .imgContainer img, #linisIMG .imgContainer img{
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition-duration: 1s;
}

#trashIMG .imgContainer img:hover, #linisIMG .imgContainer img:hover{
    width: 100%;
    height: auto;
    box-shadow: 0px 10px 20px #A0A0A0;
    -webkit-filter: none;
    filter: none;
    box-shadow: 0px 20px 50px #909090;
    opacity: 1;
}

#noise{
    width: 80%;
    padding: 0px 0px 0px 0px;
    margin: 120px auto 100px auto;
}

#noiseHeader{
    width: 100%;
    color: #333333;
    margin: auto auto -20px auto;
    padding: 0px 0px 0px 0px;
    font-family: OldEnglish;
    font-size: 50px;
    letter-spacing: 2px;
}

#noiseParagraph{
    font-family: WalbaumReg;
    font-size: 20px;
    text-align: center;
    color: #505050;
    width: 80%;
    margin: auto;
}

#smoke{
    width: 80%;
    padding: 120px 0px 200px 0px;
    margin: auto;
}

#smokeHeader{
    width: 100%;
    color: #333333;
    margin: auto auto -22px auto;
    padding: 10px 0px 0px 0px;
    font-family: OldEnglish;
    font-size: 50px;
    letter-spacing: 2px;
}

#smokeParagraph{
    font-family: WalbaumReg;
    font-size: 20px;
    text-align: center;
    color: #505050;
    width: 80%;
    margin: 30px auto 30px auto;
}

#speechHeader{
    width: 80%;
    color: #333333;
    margin: -80px auto 0px auto;
    padding: 100px 0px 245px 0px;
    font-family: OldEnglish;
    font-size: 50px;
    letter-spacing: 2px;
}

#speechParagraph{
    font-size: 20px;
    text-align: center;
    color: #505050;
    width: 65%;
    margin: -280px auto 300px auto;
    padding: 0px 0px 0px 0px;
}

#bioContainer{
    width: 80%;
    margin: 200px auto auto auto;
    text-align: center;
    background-color: #FFFFFF;
}

#bioHead{
    margin: 0 auto;
    font-family: WalbaumBold;
    text-transform: uppercase;
    font-size: 30px;
    color: #333333;
}

.infoContainer{
    margin: 1vh;
    box-shadow: 10px 10px 10px #918f8f;
    background-color: ghostwhite;
    transition: 0.3s;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1vh;
}

.infoContainer .imgContainer{
    padding: 7px;
    display: inline;
}

.infoContainer .imgContainer img{
    
}

.infoContainer h3{
    font-size: 25px;
    font-family: OratorStd;
    color: black;
}

.infoContainer p{
    font-family: WalbaumReg;
    font-size: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

#footer{
    font-family: OratorStd;
    font-size: 20px;
}