body{
    background-image: url("../images/back2.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

div{
    background: #777777;
    line-height: 1.6;
}
div h1{
    text-align: center;
}

div h2{
    border: hidden;
    border-radius: 20px;
    background-color: #555555;
    padding-left: 3%;
}

div.footer{
    border: solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    margin-left: 18%;
    margin-right: 18%;
    text-align: center;
}

div.header{
    border-style: solid;
    border-color: #00A080;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
}

div.imgContainer img{
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

div.infoContainer p{
    background-color: #AAAAAA;
}

div.main{
    border-radius: 25px;
    border-style: solid;
    margin-top: 2%;
    margin-left: 18%;
    margin-right: 18%;
    width: auto;
    height: auto;
    z-index: -1;
}
div.navi {
    background-color: rgba(150,150,150,1.0);
    border: dashed;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: sticky;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
    top: 1%;
}
div.navi a {
    color: rgba(150,0,150,1.0);
	font-family: Aharoni;
	font-size: 25px;
	text-decoration: none;
    transition: ease-in-out 0.3s;
}
div.navi a:hover {
	opacity: 1.0;
	color: #FFFFFF;
	background-color: rgba(150,0,150,1.0);
    border: groove;
    text-decoration: underline;
    padding-left: 3px;
    padding-right: 3px;
}

div.pics img{
    height: auto;
    width: 35%;
    transition: ease-in-out 0.3s;
}
div.pics img:hover{
    height: auto;
    width: 95%;
    border: double;
    border-color: #000000;
}

footer{
    align-self: center;
}

footer a{
    text-decoration: none;
    transition: ease-in-out 0.3s;
}
footer a:hover{
    background-color: #0000FF;
    border: groove;
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: underline;
}

ul{
    color: #000000;
}

p{
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

#aPics{
    margin-left: 5%;
    margin-right: 5%;
}

#aTips{
    margin-left: 5%;
    margin-right: 5%;
}
#aTop{
    margin-left: 5%;
    margin-right: 5%;
}

#col{
    font-size: 35px;
}

#logo{
    width: 100%;
    height: auto;
}

#divide{
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 2px #666666;
    text-align: center;
}

.pic li{
    list-style: none;
}